@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
}

.tomorrow-bold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}